.loader {
  width: 40px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #fff 90%, #ffff) 0 /
    calc(100% / 3) 100% no-repeat;
  animation: l2 1s steps(3) infinite;
}

@keyframes l2 {
  to {
    background-position: 150%;
  }
}
